<div class="container">
    <section class="sidebar">
        <mat-card class="card">
            <mat-card-header class="card-header">
                <div mat-card-avatar class="header-avatar"></div>
                <mat-card-title>{{auth.user.username}}</mat-card-title>
                <mat-card-subtitle>{{auth.user.balance}}$</mat-card-subtitle>
                <button mat-button color="primary" >Agregar saldo</button>
            </mat-card-header>
            <mat-card-content>
                <div class="bet">
                    <h3>Apuesta</h3>
                    <form [formGroup]="betForm">
                        <mat-form-field>
                            <mat-label>Monto</mat-label>
                            <input (keyDown.enter)="sendForm()" matInput type="number" formControlName="amount" name="amount"> 
                            <mat-error for="amount">{{ getErrorMessage("amount") }}</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Salida</mat-label>
                            <input (keyDown.enter)="sendForm()" matInput type="number" formControlName="cashOut" name="cashOut" step="0.1" min="1.1" max="10.0"> 
                            <mat-error for="cashOut">{{ getErrorMessage("cashOut") }}</mat-error>
                        </mat-form-field>
                    </form>
                    <button mat-raised-button color="primary" (click)="sendForm()">Apostar</button>
                </div>
            </mat-card-content>
        </mat-card>
    </section>
    <section class="main">
        <section class="game-panel"><h1>1.4x</h1></section>
        <section class="results">
            <h4>Resultados:</h4>
            <ul>
                <li>1.4x</li>
                <li>6.2x</li>
                <li>8.1x</li>
                <li>3.0x</li>
            </ul>
        </section> 
    </section>
</div>