<div class="container">
    <section class="sidebar">
        <mat-card class="card">
            <mat-card-header class="card-header">
                <div mat-card-avatar class="header-avatar"></div>
                <mat-card-title>{{auth.user.username}}</mat-card-title>
                <mat-card-subtitle>{{auth.user.balance | number: '0.1'}}$</mat-card-subtitle>
                <button mat-button color="primary" (click)="openDialog()">Agregar saldo</button>
            </mat-card-header>
            <mat-card-content>
                <div class="bet">
                    <h3>Apuesta</h3>
                    <form [formGroup]="betForm">
                        <mat-form-field>
                            <mat-label>Monto</mat-label>
                            <input (keyDown.enter)="placeBet()" matInput type="number" formControlName="amount" name="amount"> 
                            <mat-error for="amount">{{ errors.getErrorMessage("amount", controlNames) }}</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Salida</mat-label>
                            <input (keyDown.enter)="placeBet()" matInput type="number" formControlName="cashOut" name="cashOut" step="0.1" min="1.1" max="10.0"> 
                            <mat-error for="cashOut">{{ errors.getErrorMessage("cashOut", controlNames) }}</mat-error>
                        </mat-form-field>
                    </form>
                    <button mat-raised-button color="primary" (click)="placeBet()" [disabled]="game.gameStarted || game.bet">Apostar</button>
                </div>
                <div class="bet-history">
                    <h3>Historial de apuestas</h3>
                    <div class="bet-history_title">
                        <p>Apuesta</p>
                        <p>Salida</p>
                        <p>Resultado</p>
                    </div>
                    <div>
                        <ul class="bet-history_list" *ngFor="let bet of auth.user.betHistory.reverse()">
                            <li>{{bet[0] | number: '0.1'}}</li>
                            <li>{{bet[1] | number: '0.1'}}</li>
                            <li>{{bet[2] | number: '0.1' }}</li>
                        </ul>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </section>
    <section class="main">
        <section class="game-panel">
            <div class="game-status">
                <h1 *ngIf="!game.gameStarted">Juego empezando</h1>
            </div>
            <div class="game-time">
                <h1>{{game.time.toFixed(1)}}x</h1>
                <h1 *ngIf="game.win">GANADOR!</h1>
            </div>
        </section>
        <section class="results">
            <h4>Resultados:</h4>
            <ul>
                <li *ngFor="let result of game.lastResults.reverse()">{{result}}x</li>
            </ul>
        </section> 
    </section>
</div>