h1{
    color: #673AB7;
    width: 50%;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 1.2em;
}

button{
    margin-top: 1em;
}

.login{
    text-align: center;
}

.error{
    color: red;
    font-size: 10px;
}